In [ ]:
import pandas as pd
# dont forget to copy your own file path
df= pd.read_csv('/Users/ahmeteren/MachineLearningProject/dataset_HR.csv')

In [10]:
df.head()
df.info()
df.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1200 entries, 0 to 1199
Data columns (total 11 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   SatisfactionLevel    1140 non-null   float64
 1   LastEvaluation       1140 non-null   float64
 2   NumberProjects       1140 non-null   float64
 3   AverageMonthlyHours  1140 non-null   float64
 4   TimeSpentCompany     1140 non-null   float64
 5   WorkAccident         1140 non-null   float64
 6   PromotionLast5Years  1140 non-null   float64
 7   Department           1140 non-null   object
 8   Salary               1140 non-null   object
 9   OverTime             1140 non-null   object
 10  Attrition            1140 non-null   object
dtypes: float64(7), object(4)
memory usage: 103.2+ KB

,SatisfactionLevel,LastEvaluation,NumberProjects,AverageMonthlyHours,TimeSpentCompany,WorkAccident,PromotionLast5Years
count,1140.000000,1140.000000,1140.000000,1140.000000,1140.000000,1140.000000,1140.000000
mean,0.548459,0.545439,3.992982,204.002632,5.003509,0.494737,0.512281
std,0.267226,0.261558,1.423478,63.841132,2.585498,0.500192,0.500069
min,0.046217,0.030698,2.000000,90.000000,1.000000,0.000000,0.000000
25%,0.310995,0.324442,3.000000,149.000000,3.000000,0.000000,0.000000
50%,0.549400,0.551312,4.000000,208.000000,5.000000,0.000000,1.000000
75%,0.787607,0.758147,5.000000,260.000000,7.000000,1.000000,1.000000
max,1.054639,1.104275,6.000000,309.000000,9.000000,1.000000,1.000000