In [2]:
import pandas as pd
df= pd.read_csv('/Users/ahmeteren/MachineLearningProject/dataset_HR.csv')
df.head()

,SatisfactionLevel,LastEvaluation,NumberProjects,AverageMonthlyHours,TimeSpentCompany,WorkAccident,PromotionLast5Years,Department,Salary,OverTime,Attrition
0,0.452816,0.820918,4.0,223.0,3.0,1.0,1.0,Management,Low,No,Yes
1,0.998678,0.045300,4.0,246.0,3.0,0.0,0.0,HR,Low,No,Yes
2,0.725418,0.163720,4.0,275.0,9.0,1.0,0.0,Support,Low,Yes,No
3,0.623166,0.424759,2.0,234.0,5.0,1.0,1.0,Technical,Low,Yes,No
4,0.247460,0.529541,2.0,233.0,3.0,0.0,0.0,Support,Low,Yes,No

In [5]:
print(df.isnull().sum())

num_cols = df.select_dtypes(include=['int64','float64']).columns
for col in num_cols:
    df[col] = df[col].fillna(df[col].mean())
    
cat_cols = df.select_dtypes(include=['object']).columns
for col in cat_cols:
    df[col] = df[col].fillna(df[col].mode()[0])

SatisfactionLevel       0
LastEvaluation          0
NumberProjects          0
AverageMonthlyHours     0
TimeSpentCompany        0
WorkAccident            0
PromotionLast5Years     0
Department             60
Salary                 60
OverTime               60
Attrition              60
dtype: int64